In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
csv = pd.read_csv("datasets/GlobalLandTemperaturesByCity.csv")
df = pd.DataFrame(csv)

In [3]:
df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [4]:
df_hun = df[df["Country"] == "Hungary"]

In [5]:
df_hun.value_counts("City")

City
Budapest          3239
Debrecen          3239
Gyor              3239
Kecskemét         3239
Miskolc           3239
Nyíregyháza       3239
Pécs              3239
Szeged            3239
Székesfehérvár    3239
Name: count, dtype: int64

In [7]:
df_hun_city_counts = df_hun.value_counts("City")
bottom_cities = df_hun_city_counts.index.tolist()
print(bottom_cities)

['Budapest', 'Debrecen', 'Gyor', 'Kecskemét', 'Miskolc', 'Nyíregyháza', 'Pécs', 'Szeged', 'Székesfehérvár']